- @page_title = "Member: #{@member.full_name}"

%ul
  %li
    %strong Birth date:
    =@member.birth_date.to_s(:long)
  %li
    %strong Membership number:
    =@member.membership_number

%p
  = link_to 'Edit', edit_member_path(@member)
  |
  = link_to 'Back to members listing', members_path